<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_34e6ef22051490d676cf80607fcfed71 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_34e6ef22051490d676cf80607fcfed71" ></div>
        
</body>
<script>
    
    
            var map_34e6ef22051490d676cf80607fcfed71 = L.map(
                "map_34e6ef22051490d676cf80607fcfed71",
                {
                    center: [52.377956, 4.89707],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_523802b746bf01e2e5b0dbc98fbe8133 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var marker_1224d90d15597875af919b476b322109 = L.marker(
                [52.3683624, 4.9017482],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_b8b04ff5d17317f4a38af291a87cce50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_1224d90d15597875af919b476b322109.setIcon(icon_b8b04ff5d17317f4a38af291a87cce50);
        
    
            marker_1224d90d15597875af919b476b322109.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_28a9c0888cb2dd4c41c2353060b4468a = L.marker(
                [52.3550148, 4.8908691],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_512d8c0370f1e69ebcf55a9615a6a489 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_28a9c0888cb2dd4c41c2353060b4468a.setIcon(icon_512d8c0370f1e69ebcf55a9615a6a489);
        
    
            marker_28a9c0888cb2dd4c41c2353060b4468a.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f076e3a05f96d385ed4eb5d9be75091e = L.marker(
                [52.3784904, 4.8457112],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_df8144b678d427517293ce425ea670e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f076e3a05f96d385ed4eb5d9be75091e.setIcon(icon_df8144b678d427517293ce425ea670e3);
        
    
            marker_f076e3a05f96d385ed4eb5d9be75091e.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c8e7cd94cdec73fd5ec23ca923119f0d = L.marker(
                [52.3986168, 4.9364452],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_a5d1c7dc8cdb6ad78484de0afd7182c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c8e7cd94cdec73fd5ec23ca923119f0d.setIcon(icon_a5d1c7dc8cdb6ad78484de0afd7182c1);
        
    
            marker_c8e7cd94cdec73fd5ec23ca923119f0d.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_47f68c71c1d059fc0eb0294c68246022 = L.marker(
                [52.3622246, 4.9277439],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_51e9000ab2cee4b0be57aaa0980dcf17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_47f68c71c1d059fc0eb0294c68246022.setIcon(icon_51e9000ab2cee4b0be57aaa0980dcf17);
        
    
            marker_47f68c71c1d059fc0eb0294c68246022.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c713367c8e86e6867006e2acc4ab0b4 = L.marker(
                [52.315426, 4.956486],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_0d3734b8e8a95f2f82e35bc4bc31cbb6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8c713367c8e86e6867006e2acc4ab0b4.setIcon(icon_0d3734b8e8a95f2f82e35bc4bc31cbb6);
        
    
            marker_8c713367c8e86e6867006e2acc4ab0b4.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Do Vr
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46fad59a7333d465747928cd454e1a61 = L.marker(
                [52.3167174, 4.9790383],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_75e84f6161c179366bc5f00e0e6112d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_46fad59a7333d465747928cd454e1a61.setIcon(icon_75e84f6161c179366bc5f00e0e6112d2);
        
    
            marker_46fad59a7333d465747928cd454e1a61.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb7e236ea5b5a59d3f0d53efdbc7516c = L.marker(
                [52.3725624, 4.900321],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_503917bed5375104f74ec7c471685dbb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eb7e236ea5b5a59d3f0d53efdbc7516c.setIcon(icon_503917bed5375104f74ec7c471685dbb);
        
    
            marker_eb7e236ea5b5a59d3f0d53efdbc7516c.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0163540f203fbbf47a9252c28ede0129 = L.marker(
                [52.362381, 4.8975739],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_c62c6c56e79ba348cd605bb54b285544 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0163540f203fbbf47a9252c28ede0129.setIcon(icon_c62c6c56e79ba348cd605bb54b285544);
        
    
            marker_0163540f203fbbf47a9252c28ede0129.bindTooltip(
                `<div>
                     Artikelen: Bloemen en planten <br> Geopend op de volgende dagen: Ma 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b4c53f118504bc05922cebda5b577764 = L.marker(
                [52.322102, 4.9698755],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_f1d4d1e19ccfc2ac7f9f16ec2fb8bcc1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b4c53f118504bc05922cebda5b577764.setIcon(icon_f1d4d1e19ccfc2ac7f9f16ec2fb8bcc1);
        
    
            marker_b4c53f118504bc05922cebda5b577764.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4387b99ddfe16cc8cfdbdd24a718733f = L.marker(
                [52.3848801, 4.8838201],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_e2bf638ee79df3bbaa61b29357ae613a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4387b99ddfe16cc8cfdbdd24a718733f.setIcon(icon_e2bf638ee79df3bbaa61b29357ae613a);
        
    
            marker_4387b99ddfe16cc8cfdbdd24a718733f.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_144518ae483ddf0ce0dc689411bc2cb4 = L.marker(
                [52.377964, 4.8010898],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_6b648f94863ca8e8fecde26782282436 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_144518ae483ddf0ce0dc689411bc2cb4.setIcon(icon_6b648f94863ca8e8fecde26782282436);
        
    
            marker_144518ae483ddf0ce0dc689411bc2cb4.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b2449170ed43700b6b1ea3fc5dbf3de = L.marker(
                [52.3801651, 4.8844528],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_1c367784568d6d28abd2730b09312875 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4b2449170ed43700b6b1ea3fc5dbf3de.setIcon(icon_1c367784568d6d28abd2730b09312875);
        
    
            marker_4b2449170ed43700b6b1ea3fc5dbf3de.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_56b8b2b9b47c7dab7b2a51e475c2a934 = L.marker(
                [52.3722267, 4.9006319],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_f909f83bd6ca71eef5437fef78bd752a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_56b8b2b9b47c7dab7b2a51e475c2a934.setIcon(icon_f909f83bd6ca71eef5437fef78bd752a);
        
    
            marker_56b8b2b9b47c7dab7b2a51e475c2a934.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2874ac4619fd2ebdc3124684101c5d67 = L.marker(
                [52.3796158, 4.8864808],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_dd8650c487d50514f70cb1dc92465f2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_2874ac4619fd2ebdc3124684101c5d67.setIcon(icon_dd8650c487d50514f70cb1dc92465f2d);
        
    
            marker_2874ac4619fd2ebdc3124684101c5d67.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a1c187078e778d82719518a5f4ba5a52 = L.marker(
                [52.3794136, 4.8864698],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_fe4e609f24420c4ee9f20738dd14b1c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a1c187078e778d82719518a5f4ba5a52.setIcon(icon_fe4e609f24420c4ee9f20738dd14b1c4);
        
    
            marker_a1c187078e778d82719518a5f4ba5a52.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a1ca6a3bc467bcbed84329c04e9f9d1 = L.marker(
                [52.2970358, 4.9755026],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_10eef60139746fbe2cf7554357450c8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5a1ca6a3bc467bcbed84329c04e9f9d1.setIcon(icon_10eef60139746fbe2cf7554357450c8c);
        
    
            marker_5a1ca6a3bc467bcbed84329c04e9f9d1.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_12b29736b914ba70250dc45c0d6b8dfb = L.marker(
                [52.3687935, 4.8897529],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_7e8ddc8625da21193739e9a829eb2810 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "book", "iconColor": "white", "markerColor": "gray", "prefix": "fa"}
            );
            marker_12b29736b914ba70250dc45c0d6b8dfb.setIcon(icon_7e8ddc8625da21193739e9a829eb2810);
        
    
            marker_12b29736b914ba70250dc45c0d6b8dfb.bindTooltip(
                `<div>
                     Artikelen: Boeken <br> Geopend op de volgende dagen: Vr 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2da8afc5356c10c15b6c138c9ee4fa9f = L.marker(
                [52.3688469, 4.8899941],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_b52cd379717d941ea0e7e0c3c8719eef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_2da8afc5356c10c15b6c138c9ee4fa9f.setIcon(icon_b52cd379717d941ea0e7e0c3c8719eef);
        
    
            marker_2da8afc5356c10c15b6c138c9ee4fa9f.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_849434e86ed72533f1d944052eb5c85e = L.marker(
                [52.3570786, 4.7954888],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_f6e757da8a17144c09917ad01acb78fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_849434e86ed72533f1d944052eb5c85e.setIcon(icon_f6e757da8a17144c09917ad01acb78fb);
        
    
            marker_849434e86ed72533f1d944052eb5c85e.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fbaab5004edc11a433066cb08d98ce77 = L.marker(
                [52.3786125, 4.88485],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_e269a606b0b44f89aca6311ea96dbd84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fbaab5004edc11a433066cb08d98ce77.setIcon(icon_e269a606b0b44f89aca6311ea96dbd84);
        
    
            marker_fbaab5004edc11a433066cb08d98ce77.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_237aaaedcc09311aefe7597355880a11 = L.marker(
                [52.3724174, 4.9384079],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_5622fe42404883462f5113bdcb4ec6cd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_237aaaedcc09311aefe7597355880a11.setIcon(icon_5622fe42404883462f5113bdcb4ec6cd);
        
    
            marker_237aaaedcc09311aefe7597355880a11.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee4594040fa5b46e8d229ec9dd674673 = L.marker(
                [52.3723831, 4.9001708],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_a4de62c649cd41a395ec2dbe8ddfb488 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_ee4594040fa5b46e8d229ec9dd674673.setIcon(icon_a4de62c649cd41a395ec2dbe8ddfb488);
        
    
            marker_ee4594040fa5b46e8d229ec9dd674673.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_de4433ae76cb3966eca459418e7470f6 = L.marker(
                [52.3666916, 4.8914161],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_2e35b4081c9fa759c9d66058da3ad768 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_de4433ae76cb3966eca459418e7470f6.setIcon(icon_2e35b4081c9fa759c9d66058da3ad768);
        
    
            marker_de4433ae76cb3966eca459418e7470f6.bindTooltip(
                `<div>
                     Artikelen: Bloemen en planten <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_55c33e944d00ec784ed5fd72ee9cf97e = L.marker(
                [52.3713303, 4.8902998],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_0e0172d56b3aeb2c31e3f32b5b4a8fbe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "envelope", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_55c33e944d00ec784ed5fd72ee9cf97e.setIcon(icon_0e0172d56b3aeb2c31e3f32b5b4a8fbe);
        
    
            marker_55c33e944d00ec784ed5fd72ee9cf97e.bindTooltip(
                `<div>
                     Artikelen: Postzegels en munten <br> Geopend op de volgende dagen: Wo Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6b7a7f2ed4da101b0f969d8010bf330 = L.marker(
                [52.3985634, 4.9397278],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_9498ada1a0f01ad960a99e1b89e77b63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a6b7a7f2ed4da101b0f969d8010bf330.setIcon(icon_9498ada1a0f01ad960a99e1b89e77b63);
        
    
            marker_a6b7a7f2ed4da101b0f969d8010bf330.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9bc92f156b1c2b46fe211f747beb12b = L.marker(
                [52.380021, 4.821625],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_86f862b100d375f76969a96c5b817c04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b9bc92f156b1c2b46fe211f747beb12b.setIcon(icon_86f862b100d375f76969a96c5b817c04);
        
    
            marker_b9bc92f156b1c2b46fe211f747beb12b.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc9a822b7911b28f3b6c33095639d41e = L.marker(
                [52.3664093, 4.8672009],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_b74665716dec6cb6831f96d647e886a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fc9a822b7911b28f3b6c33095639d41e.setIcon(icon_b74665716dec6cb6831f96d647e886a2);
        
    
            marker_fc9a822b7911b28f3b6c33095639d41e.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_610e2eb65b2d6580121becfa84fa6148 = L.marker(
                [52.355012, 4.826431],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_45c44142cf2fdf552302690fd836eb9c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_610e2eb65b2d6580121becfa84fa6148.setIcon(icon_45c44142cf2fdf552302690fd836eb9c);
        
    
            marker_610e2eb65b2d6580121becfa84fa6148.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_23f3e5a75488837aca0527ac64f93d1f = L.marker(
                [52.365958, 4.89634],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_d20da71ddf30c27cbf31c7633724dcc9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_23f3e5a75488837aca0527ac64f93d1f.setIcon(icon_d20da71ddf30c27cbf31c7633724dcc9);
        
    
            marker_23f3e5a75488837aca0527ac64f93d1f.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e912aa0710295c57c765a0cf791e0d89 = L.marker(
                [52.3439409, 4.8577271],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_8217aad454e7f43966f375650271db5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e912aa0710295c57c765a0cf791e0d89.setIcon(icon_8217aad454e7f43966f375650271db5b);
        
    
            marker_e912aa0710295c57c765a0cf791e0d89.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c94f2122f61abbc5290702219075bca3 = L.marker(
                [52.389843, 4.9104171],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_6b18b0a4cad06c624728828e1afe70da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c94f2122f61abbc5290702219075bca3.setIcon(icon_6b18b0a4cad06c624728828e1afe70da);
        
    
            marker_c94f2122f61abbc5290702219075bca3.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Wo Vr Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff1c0c490ef532c78d00186524bd665b = L.marker(
                [52.3889389, 4.9098272],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_a05bea2bd0288e5da476e87968c6360e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ff1c0c490ef532c78d00186524bd665b.setIcon(icon_a05bea2bd0288e5da476e87968c6360e);
        
    
            marker_ff1c0c490ef532c78d00186524bd665b.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Vr
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_312d68cb5d770170c5bfda64bf61140e = L.marker(
                [52.3906174, 4.9109311],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_fc4b3896cf33533cb480bc1ee3a2f265 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_312d68cb5d770170c5bfda64bf61140e.setIcon(icon_fc4b3896cf33533cb480bc1ee3a2f265);
        
    
            marker_312d68cb5d770170c5bfda64bf61140e.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_158d4f2632c0d300a7951cb581136c0b = L.marker(
                [52.3567314, 4.8971772],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_ec65ea884bc976f2170626f002426d50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_158d4f2632c0d300a7951cb581136c0b.setIcon(icon_ec65ea884bc976f2170626f002426d50);
        
    
            marker_158d4f2632c0d300a7951cb581136c0b.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6eec4e59b4e94b41ba3eb176eeec1c66 = L.marker(
                [52.3322105, 4.8916841],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_94d5392e2ca27e783689613c97aec139 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6eec4e59b4e94b41ba3eb176eeec1c66.setIcon(icon_94d5392e2ca27e783689613c97aec139);
        
    
            marker_6eec4e59b4e94b41ba3eb176eeec1c66.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_997e3dfac9eec0639e2f120cec7e6e7b = L.marker(
                [52.4020004, 4.8942642],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_c3ac2aeda40569aa210d1822dd650457 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_997e3dfac9eec0639e2f120cec7e6e7b.setIcon(icon_c3ac2aeda40569aa210d1822dd650457);
        
    
            marker_997e3dfac9eec0639e2f120cec7e6e7b.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Za Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a54343438742701cd216af3a650b29f = L.marker(
                [52.3511405, 4.9296989],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_49d549e1dcb04b2c0992359634275558 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4a54343438742701cd216af3a650b29f.setIcon(icon_49d549e1dcb04b2c0992359634275558);
        
    
            marker_4a54343438742701cd216af3a650b29f.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Zo 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abe6ce41eb4284c04444402c73df1f09 = L.marker(
                [52.3858414, 4.8711061],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_c0a839c8b131572cce90a858ebadec84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_abe6ce41eb4284c04444402c73df1f09.setIcon(icon_c0a839c8b131572cce90a858ebadec84);
        
    
            marker_abe6ce41eb4284c04444402c73df1f09.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a261ae617d913a4235cb063e5a25ad93 = L.marker(
                [52.3696136, 4.851038],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_93839b4676a58715176b4f3695c2fd78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a261ae617d913a4235cb063e5a25ad93.setIcon(icon_93839b4676a58715176b4f3695c2fd78);
        
    
            marker_a261ae617d913a4235cb063e5a25ad93.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_87fdbdc3fb96b911814204009a1b90f3 = L.marker(
                [52.3430481, 4.884614],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_cc12a7f13320472e8f3425c3ee391273 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_87fdbdc3fb96b911814204009a1b90f3.setIcon(icon_cc12a7f13320472e8f3425c3ee391273);
        
    
            marker_87fdbdc3fb96b911814204009a1b90f3.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40614e30f323382feea68805a5308132 = L.marker(
                [52.3497734, 5.0146689],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_ac68bac64f592226bcff8b48e84d1f35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_40614e30f323382feea68805a5308132.setIcon(icon_ac68bac64f592226bcff8b48e84d1f35);
        
    
            marker_40614e30f323382feea68805a5308132.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54d1d61fc47356e04f7f9147a5572b77 = L.marker(
                [52.3670998, 4.8691049],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_a9deca23f89626448a6fe1aa191fa54c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_54d1d61fc47356e04f7f9147a5572b77.setIcon(icon_a9deca23f89626448a6fe1aa191fa54c);
        
    
            marker_54d1d61fc47356e04f7f9147a5572b77.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cbb951d72be85ecb66fcc1ce2bcb2b36 = L.marker(
                [52.3554268, 4.8758378],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_2beca5a1cf2bc7dc42a66eade97c6e63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_cbb951d72be85ecb66fcc1ce2bcb2b36.setIcon(icon_2beca5a1cf2bc7dc42a66eade97c6e63);
        
    
            marker_cbb951d72be85ecb66fcc1ce2bcb2b36.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c4071bb5ece709b0df6951f44ce2aa9 = L.marker(
                [52.3570404, 4.9909739],
                {}
            ).addTo(map_34e6ef22051490d676cf80607fcfed71);
        
    
            var icon_e9f090d7191ef6d657ae3a8366cb9ff3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6c4071bb5ece709b0df6951f44ce2aa9.setIcon(icon_e9f090d7191ef6d657ae3a8366cb9ff3);
        
    
            marker_6c4071bb5ece709b0df6951f44ce2aa9.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>