<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_365f2ff622453d51475a7923e278f9f9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_365f2ff622453d51475a7923e278f9f9" ></div>
        
</body>
<script>
    
    
            var map_365f2ff622453d51475a7923e278f9f9 = L.map(
                "map_365f2ff622453d51475a7923e278f9f9",
                {
                    center: [52.377956, 4.89707],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_74c5ea562174449c36812f4df63423fd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var marker_95eea2c59570b0c9c1ec2af50878a4b3 = L.marker(
                [52.3683624, 4.9017482],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_eb7632a5dc646a48636c95a825fbec57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_95eea2c59570b0c9c1ec2af50878a4b3.setIcon(icon_eb7632a5dc646a48636c95a825fbec57);
        
    
            marker_95eea2c59570b0c9c1ec2af50878a4b3.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6a4d6cca21b8b081c45c71877d6c87d3 = L.marker(
                [52.3550148, 4.8908691],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_1fd6980fe4fb40b7f6b946deac92b602 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6a4d6cca21b8b081c45c71877d6c87d3.setIcon(icon_1fd6980fe4fb40b7f6b946deac92b602);
        
    
            marker_6a4d6cca21b8b081c45c71877d6c87d3.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_35173495d4ee2f8f67bd9b17295625ac = L.marker(
                [52.3784904, 4.8457112],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_ba9b5a4b9f5d88db8c35868f032698a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_35173495d4ee2f8f67bd9b17295625ac.setIcon(icon_ba9b5a4b9f5d88db8c35868f032698a6);
        
    
            marker_35173495d4ee2f8f67bd9b17295625ac.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9344c868b943c7b319dc939ce4146db = L.marker(
                [52.3986168, 4.9364452],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_0e7b6378f6647e83204da850a7f95956 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b9344c868b943c7b319dc939ce4146db.setIcon(icon_0e7b6378f6647e83204da850a7f95956);
        
    
            marker_b9344c868b943c7b319dc939ce4146db.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b598989cf14e81eb85f8ea26d695254 = L.marker(
                [52.3622246, 4.9277439],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_8d96b92983845a51e95382a9086deb2b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4b598989cf14e81eb85f8ea26d695254.setIcon(icon_8d96b92983845a51e95382a9086deb2b);
        
    
            marker_4b598989cf14e81eb85f8ea26d695254.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3487880a5ce68ddaa3879b1dd6a14136 = L.marker(
                [52.315426, 4.956486],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_e53c9151fc255fdd34ab76e0c09d6362 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3487880a5ce68ddaa3879b1dd6a14136.setIcon(icon_e53c9151fc255fdd34ab76e0c09d6362);
        
    
            marker_3487880a5ce68ddaa3879b1dd6a14136.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Do Vr
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_713eb3a8ed87429d8336ab43cd701062 = L.marker(
                [52.3167174, 4.9790383],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_24ab8c7fefe032d80b3a4de3b9db1073 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_713eb3a8ed87429d8336ab43cd701062.setIcon(icon_24ab8c7fefe032d80b3a4de3b9db1073);
        
    
            marker_713eb3a8ed87429d8336ab43cd701062.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2d753eb16b448b9545ddfd245f3c4d9a = L.marker(
                [52.3725624, 4.900321],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_5c2720e5b15dd42984ddf6ef9de487c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2d753eb16b448b9545ddfd245f3c4d9a.setIcon(icon_5c2720e5b15dd42984ddf6ef9de487c2);
        
    
            marker_2d753eb16b448b9545ddfd245f3c4d9a.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a4347c496a81ef65a00de5ce76e414e = L.marker(
                [52.362381, 4.8975739],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_2d92e30af2311a5723f581bb29a90829 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_1a4347c496a81ef65a00de5ce76e414e.setIcon(icon_2d92e30af2311a5723f581bb29a90829);
        
    
            marker_1a4347c496a81ef65a00de5ce76e414e.bindTooltip(
                `<div>
                     Artikelen: Bloemen en planten <br> Geopend op de volgende dagen: Ma 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eb5bd32d22c8147f4cae58649e1438db = L.marker(
                [52.322102, 4.9698755],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_e6f29e39573e00f60fd36d2d996627d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eb5bd32d22c8147f4cae58649e1438db.setIcon(icon_e6f29e39573e00f60fd36d2d996627d3);
        
    
            marker_eb5bd32d22c8147f4cae58649e1438db.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9a9084eaf44fcd1377030b9773a8d0a = L.marker(
                [52.3848801, 4.8838201],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_293a906508d3e7d59ce72fa486c04069 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b9a9084eaf44fcd1377030b9773a8d0a.setIcon(icon_293a906508d3e7d59ce72fa486c04069);
        
    
            marker_b9a9084eaf44fcd1377030b9773a8d0a.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88316b1991891fc09fd7d54a811f8f80 = L.marker(
                [52.377964, 4.8010898],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_5e04dc24aad6a074e4b1a17e2b81b9dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_88316b1991891fc09fd7d54a811f8f80.setIcon(icon_5e04dc24aad6a074e4b1a17e2b81b9dc);
        
    
            marker_88316b1991891fc09fd7d54a811f8f80.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0929d7cc3bc5b7eca8c10ced8d52d30c = L.marker(
                [52.3801651, 4.8844528],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_30f20faea0231350f60aa5677a90094d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0929d7cc3bc5b7eca8c10ced8d52d30c.setIcon(icon_30f20faea0231350f60aa5677a90094d);
        
    
            marker_0929d7cc3bc5b7eca8c10ced8d52d30c.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_993ff3cbc66578afe176bc7df0cc3b3e = L.marker(
                [52.3722267, 4.9006319],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_dc8a2d7212d5d273ee57c8a1c7036c96 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_993ff3cbc66578afe176bc7df0cc3b3e.setIcon(icon_dc8a2d7212d5d273ee57c8a1c7036c96);
        
    
            marker_993ff3cbc66578afe176bc7df0cc3b3e.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fa72e06909100d83f172b4329755a5f0 = L.marker(
                [52.3796158, 4.8864808],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_782c4aa0a4a3fa30eebaa6b5cba196c9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_fa72e06909100d83f172b4329755a5f0.setIcon(icon_782c4aa0a4a3fa30eebaa6b5cba196c9);
        
    
            marker_fa72e06909100d83f172b4329755a5f0.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8df7bd755a44811e37ef4309165070a = L.marker(
                [52.3794136, 4.8864698],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_633353428a0194485894b9edf78e4fed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f8df7bd755a44811e37ef4309165070a.setIcon(icon_633353428a0194485894b9edf78e4fed);
        
    
            marker_f8df7bd755a44811e37ef4309165070a.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0fa528fc9eeb5ece130b2be9bbe58342 = L.marker(
                [52.2970358, 4.9755026],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_bcea9db3990fabefa3fd60df753c0670 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0fa528fc9eeb5ece130b2be9bbe58342.setIcon(icon_bcea9db3990fabefa3fd60df753c0670);
        
    
            marker_0fa528fc9eeb5ece130b2be9bbe58342.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_65cfe7c13e5947ab80f7f25b8007c326 = L.marker(
                [52.3687935, 4.8897529],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_572610d22a0bab8f35089788cae04ffc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "book", "iconColor": "white", "markerColor": "gray", "prefix": "fa"}
            );
            marker_65cfe7c13e5947ab80f7f25b8007c326.setIcon(icon_572610d22a0bab8f35089788cae04ffc);
        
    
            marker_65cfe7c13e5947ab80f7f25b8007c326.bindTooltip(
                `<div>
                     Artikelen: Boeken <br> Geopend op de volgende dagen: Vr 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5500d5567455e17f74b4bd643aca39ac = L.marker(
                [52.3688469, 4.8899941],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_b1964aac516069aaf0dac9c0e6ddd162 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_5500d5567455e17f74b4bd643aca39ac.setIcon(icon_b1964aac516069aaf0dac9c0e6ddd162);
        
    
            marker_5500d5567455e17f74b4bd643aca39ac.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ac5b83e81844e6dfb280daec9d4c4eb6 = L.marker(
                [52.3570786, 4.7954888],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_ef106c0625b4c7001e45cea91272c6bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ac5b83e81844e6dfb280daec9d4c4eb6.setIcon(icon_ef106c0625b4c7001e45cea91272c6bf);
        
    
            marker_ac5b83e81844e6dfb280daec9d4c4eb6.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e20d958acbc57b8fb40cebdaee71792 = L.marker(
                [52.3786125, 4.88485],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_7db8282a7b7398ecc6bc183b837a9597 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2e20d958acbc57b8fb40cebdaee71792.setIcon(icon_7db8282a7b7398ecc6bc183b837a9597);
        
    
            marker_2e20d958acbc57b8fb40cebdaee71792.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b1ebd1b621327ccc1e47806f9de47b5e = L.marker(
                [52.3724174, 4.9384079],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_5d9cd4a087280a45efcf080315c0caff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b1ebd1b621327ccc1e47806f9de47b5e.setIcon(icon_5d9cd4a087280a45efcf080315c0caff);
        
    
            marker_b1ebd1b621327ccc1e47806f9de47b5e.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1284db2216ae394053374f69d57c45ef = L.marker(
                [52.3723831, 4.9001708],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_587bb5b96be1e8780f85c3a849164827 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_1284db2216ae394053374f69d57c45ef.setIcon(icon_587bb5b96be1e8780f85c3a849164827);
        
    
            marker_1284db2216ae394053374f69d57c45ef.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af97c5a01642e0b70b07ee67fd99047c = L.marker(
                [52.3666916, 4.8914161],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_e60fff3dad19995c5886a0adba4c5471 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "seedling", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_af97c5a01642e0b70b07ee67fd99047c.setIcon(icon_e60fff3dad19995c5886a0adba4c5471);
        
    
            marker_af97c5a01642e0b70b07ee67fd99047c.bindTooltip(
                `<div>
                     Artikelen: Bloemen en planten <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5aa24685dfbdb719942204752d88dd25 = L.marker(
                [52.3713303, 4.8902998],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_837e0f0eecba30a1e960652879853684 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "envelope", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5aa24685dfbdb719942204752d88dd25.setIcon(icon_837e0f0eecba30a1e960652879853684);
        
    
            marker_5aa24685dfbdb719942204752d88dd25.bindTooltip(
                `<div>
                     Artikelen: Postzegels en munten <br> Geopend op de volgende dagen: Wo Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c4a2a2015d11787e96827017684d64f = L.marker(
                [52.3985634, 4.9397278],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_f04680a302b529b985f9d7a9979e6265 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6c4a2a2015d11787e96827017684d64f.setIcon(icon_f04680a302b529b985f9d7a9979e6265);
        
    
            marker_6c4a2a2015d11787e96827017684d64f.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c3c739a6508f8e4b4791dfcee365ea5 = L.marker(
                [52.380021, 4.821625],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_5c0aceb5355f6e3c3fbb3796a38819a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8c3c739a6508f8e4b4791dfcee365ea5.setIcon(icon_5c0aceb5355f6e3c3fbb3796a38819a6);
        
    
            marker_8c3c739a6508f8e4b4791dfcee365ea5.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2bd841725c0902a6b9ef00dad833a715 = L.marker(
                [52.3664093, 4.8672009],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_c0b947d84918c0bad4e2a50401e13ed8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2bd841725c0902a6b9ef00dad833a715.setIcon(icon_c0b947d84918c0bad4e2a50401e13ed8);
        
    
            marker_2bd841725c0902a6b9ef00dad833a715.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38b48c2da97ba8b62b83ec72a66afc4e = L.marker(
                [52.355012, 4.826431],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_06d485aae2b628c256d444db2362bd61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_38b48c2da97ba8b62b83ec72a66afc4e.setIcon(icon_06d485aae2b628c256d444db2362bd61);
        
    
            marker_38b48c2da97ba8b62b83ec72a66afc4e.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5cb682f3764d9d986f5aa281d305e66d = L.marker(
                [52.365958, 4.89634],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_91107b84855bad7f98b9dc60ce328ec9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_5cb682f3764d9d986f5aa281d305e66d.setIcon(icon_91107b84855bad7f98b9dc60ce328ec9);
        
    
            marker_5cb682f3764d9d986f5aa281d305e66d.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_66cca00c557fa9b5bae71021abc5a160 = L.marker(
                [52.3439409, 4.8577271],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_16df686447e6667820c9a1fb3022488d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_66cca00c557fa9b5bae71021abc5a160.setIcon(icon_16df686447e6667820c9a1fb3022488d);
        
    
            marker_66cca00c557fa9b5bae71021abc5a160.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59ae9c7b904063a4e3bba8f7b0bca9eb = L.marker(
                [52.389843, 4.9104171],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_bb6d151acbc660f091efad3b3a2f2cb4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_59ae9c7b904063a4e3bba8f7b0bca9eb.setIcon(icon_bb6d151acbc660f091efad3b3a2f2cb4);
        
    
            marker_59ae9c7b904063a4e3bba8f7b0bca9eb.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Wo Vr Za 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c9401742a3deb78345665b933dedbd8f = L.marker(
                [52.3889389, 4.9098272],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_7fa2043ab7d29f86a82a263c7fb731ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c9401742a3deb78345665b933dedbd8f.setIcon(icon_7fa2043ab7d29f86a82a263c7fb731ad);
        
    
            marker_c9401742a3deb78345665b933dedbd8f.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Vr
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ecb6086d7527a8b30d30259b6ee8380 = L.marker(
                [52.3906174, 4.9109311],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_0464f12bf271b7f423e981c05cd791d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_3ecb6086d7527a8b30d30259b6ee8380.setIcon(icon_0464f12bf271b7f423e981c05cd791d9);
        
    
            marker_3ecb6086d7527a8b30d30259b6ee8380.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b79380e321ff863027d7431e9d3a1d2f = L.marker(
                [52.3567314, 4.8971772],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_776fd370b759dbbc8b2c6daf98c92819 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b79380e321ff863027d7431e9d3a1d2f.setIcon(icon_776fd370b759dbbc8b2c6daf98c92819);
        
    
            marker_b79380e321ff863027d7431e9d3a1d2f.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Wo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_171c4c0a175a3a8577e34a03d14259cc = L.marker(
                [52.3322105, 4.8916841],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_c83cd5d8aeb66939b1c5a0a674219f44 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "store", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_171c4c0a175a3a8577e34a03d14259cc.setIcon(icon_c83cd5d8aeb66939b1c5a0a674219f44);
        
    
            marker_171c4c0a175a3a8577e34a03d14259cc.bindTooltip(
                `<div>
                     Artikelen: Algemene waren <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c3cb88bb89345811ecff3a7906940b33 = L.marker(
                [52.4020004, 4.8942642],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_5d030c8ed3eef74f73bab8b592013f5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_c3cb88bb89345811ecff3a7906940b33.setIcon(icon_5d030c8ed3eef74f73bab8b592013f5a);
        
    
            marker_c3cb88bb89345811ecff3a7906940b33.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Za Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0667b04f48c016b856f4c0d68f0a5fe9 = L.marker(
                [52.3511405, 4.9296989],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_babfa811a2839d7baa2f2e1543baafdb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_0667b04f48c016b856f4c0d68f0a5fe9.setIcon(icon_babfa811a2839d7baa2f2e1543baafdb);
        
    
            marker_0667b04f48c016b856f4c0d68f0a5fe9.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Zo 
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3154d2e06c5eed224730af1d25fd7217 = L.marker(
                [52.3858414, 4.8711061],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_db7267fc306791cdadae06ad9da560a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_3154d2e06c5eed224730af1d25fd7217.setIcon(icon_db7267fc306791cdadae06ad9da560a4);
        
    
            marker_3154d2e06c5eed224730af1d25fd7217.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38dcaaeccd95aad8ccbd931e450985dc = L.marker(
                [52.3696136, 4.851038],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_ca8ed264d480a09adc4aca88db87bb42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_38dcaaeccd95aad8ccbd931e450985dc.setIcon(icon_ca8ed264d480a09adc4aca88db87bb42);
        
    
            marker_38dcaaeccd95aad8ccbd931e450985dc.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_92d05d1b81d87541934f2eac02b001a3 = L.marker(
                [52.3430481, 4.884614],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_418f8eff4492c34af50a162cae9023c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_92d05d1b81d87541934f2eac02b001a3.setIcon(icon_418f8eff4492c34af50a162cae9023c2);
        
    
            marker_92d05d1b81d87541934f2eac02b001a3.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4aa56ef706b836e7bc5028394cecffe5 = L.marker(
                [52.3497734, 5.0146689],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_e95a5a2f9ec8703aa72f346a14b852df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "palette", "iconColor": "white", "markerColor": "purple", "prefix": "fa"}
            );
            marker_4aa56ef706b836e7bc5028394cecffe5.setIcon(icon_e95a5a2f9ec8703aa72f346a14b852df);
        
    
            marker_4aa56ef706b836e7bc5028394cecffe5.bindTooltip(
                `<div>
                     Artikelen: Kunst / Antiek en curiosa <br> Geopend op de volgende dagen: Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a1d0193b0c3ac06376428d480e821f2d = L.marker(
                [52.3670998, 4.8691049],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_cae11ac38f7a49dfdd28e9b42a70abeb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a1d0193b0c3ac06376428d480e821f2d.setIcon(icon_cae11ac38f7a49dfdd28e9b42a70abeb);
        
    
            marker_a1d0193b0c3ac06376428d480e821f2d.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Ma Di Wo Do Vr Za Zo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab50518ffeebe5c3ddce3dbb1634391a = L.marker(
                [52.3554268, 4.8758378],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_4cb286517abc25b234942f7c2fac467c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ab50518ffeebe5c3ddce3dbb1634391a.setIcon(icon_4cb286517abc25b234942f7c2fac467c);
        
    
            marker_ab50518ffeebe5c3ddce3dbb1634391a.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7afd2e27d2d752593d991ad4ac441edb = L.marker(
                [52.3570404, 4.9909739],
                {}
            ).addTo(map_365f2ff622453d51475a7923e278f9f9);
        
    
            var icon_6e0e1d4f6940859fabc70d9848db877e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "tractor", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_7afd2e27d2d752593d991ad4ac441edb.setIcon(icon_6e0e1d4f6940859fabc70d9848db877e);
        
    
            marker_7afd2e27d2d752593d991ad4ac441edb.bindTooltip(
                `<div>
                     Artikelen: Boerenmarkt / Bioversmarkt <br> Geopend op de volgende dagen: Za
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>